/* Lists of stories */

.stories-list {
  margin: 20px 5px;
  min-height: 100vh;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.fa-star {
  cursor: pointer;
}

.fa-trash-can:hover {
  color: red;
  cursor: pointer;
}

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 7px;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  font-size: 0.85rem;
  color: green;
  padding: 6px 0;
}

.story-user {
  display: block;
  margin-left: 2em;
  font-size: 0.85rem;
  color: orange;
}
